#ai-highlights {

    header {
        margin-block: 80px 24px;
    }
    
    article {
        
        width: 696px;
        
        display: flex;
        align-items: center;
        gap: 16px;

        div {
            width: 504px;

            P {
                font: var(--text-h2);
                margin-top: 8px;
                margin-bottom: 4px;
            }

            span {
                font: var(--text-sm);
                color: var(--text-color-secondary);
            }
        }

        img {
            width: 176px;
        }
    }
}