.header-top {
    padding-block: 20px;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    font: var(--text-h2);
}

.logo {
    color: var(--brand-color-light);
    font: var(--text-h1);
}

.categories {
    border-block: solid var(--strole-color) 1px;
}

.categories ul {
    padding-block: 14px;
    font: var(--text-span);
    color: var(--text-color-secondary);
}