@import url(global.css);
@import url(header.css);
@import url(main-news.css);
@import url(top-news-week.css);
@import url(ai-highlights.css);

body {
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font: var(--text);
}

main {
    padding: 40px 32px 80px;
    margin-inline: auto;
}

main>div {
    display: grid;
    grid-template-columns: 696px 488px;
    gap: 32px;
}