@import url(global.css);
@import url(header.css);
@import url(main-news.css);
@import url(top-news-week.css);

body {
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font: var(--text);
}

main {
    padding: 40px 32px 80px;
    margin-inline: auto;
}