#top-news-week {
    div {
        margin-block: 24px;
        
    }

    article {
        position: relative;
        width: 292px;


        img {
            width: 100%;
            object-fit: cover;
        }

        p {
            font: var(--text-h2);
        }
    }


}

.ajuste {
    position: absolute;
    top: 8px;
    left: 8px;
}